.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;

}
input{
    font-size: 30px;
}
button{
    font-size: 40px;
    background: rgb(20, 176, 38);
    width: 90px;
    height: 70px;
}
